PORT=5000
MONGODB_URI=mongodb+srv://pallavaj72218_db_user:NieNAW6SbO4sjX1Q@pet-adoption-1.cntggcm.mongodb.net/?appName=pet-adoption-1
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development

